.view-display-id-promotional_block {
  margin-top: 0.76em;
}
.view-display-id-promotional_block ul {
  padding: 0 0 1em 1.5em;
}
.view-display-id-promotional_block ol {
  padding: 0 0 1em 2.5em;
}
.view-display-id-promotional_block ul li,
.view-display-id-promotional_block ol li {
  padding: 0;
}
